{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('mdc-fab--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

<button{{ attributes.addClass('mdc-fab').setAttribute('aria-label', 'Favorite') }}>
  <div class="mdc-fab__ripple"></div>
  <span class="mdc-fab__icon material-icons">favorite</span>
</button>
