{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('mdc-banner--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

<div{{ attributes.addClass('mdc-banner').setAttribute('role', 'banner') }}>
  <div class="mdc-banner__content" role="alertdialog" aria-live="assertive">
    <div class="mdc-banner__graphic-text-wrapper">
      {% if graphic %}
      <div class="mdc-banner__graphic" role="img" alt=""><i class="material-icons mdc-banner__icon">{{ graphic }}</i></div>
      {% endif %}
      {% if text %}
      <div class="mdc-banner__text">
      {{ text }}
      </div>
      {% endif %}
    </div>
      {% if actions %}
    <div class="mdc-banner__actions">
      {{ actions }}
    </div>
    {% endif %}
  </div>
</div>
