{% if variant != '' and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('mdc-menu--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

<div{{ attributes.addClass('mdc-menu').addClass('mdc-menu-surface').addClass('mdc-menu-surface--open') }} >
  {{ list }}
</div>
