{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('mdc-drawer--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

<aside{{ attributes.addClass('mdc-drawer') }}>
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      {% for item in items %}
      {% set item_attributes = item.attributes? create_attribute(item.attributes): create_attribute() %}
      {% set item_attributes = item_attributes.addClass('mdc-list-item').setAttribute('href', item.url) %}
      {% set item_attributes = item_attributes.hasClass('active') ? item_attributes.addClass('mdc-list-item--activated').setAttribute('aria-current', 'page') : item_attributes %}
      <a{{ item_attributes }}>
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
        <span class="mdc-list-item__text">{{ item.title }}</span>
      </a>
      {% endfor %}
    </nav>
  </div>
</aside>
