{% if variant != '' and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('mdc-tab--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

<button{{ attributes.addClass('mdc-tab').setAttribute('aria-selected', 'true').setAttribute('role', 'tab').setAttribute('tabindex', '0') }}>
  <span class="mdc-tab__content">
    {% if icon %}
    <span class="mdc-tab__icon material-icons" aria-hidden="true">{{ icon }}</span>
    {% endif %}
    <span class="mdc-tab__text-label">{{ text }}</span>
  </span>
  {% if variant == 'active' %}
  <span class="mdc-tab-indicator mdc-tab-indicator--active">
  {% else %}
  <span class="mdc-tab-indicator">
  {% endif %}
    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
  </span>
  <span class="mdc-tab__ripple"></span>
</button>
