<div{{ attributes.addClass('mdc-tab-bar').setAttribute('role', 'tablist') }}>
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area">
      <div class="mdc-tab-scroller__scroll-content">
        {{ tabs }}
      </div>
    </div>
  </div>
</div>
